.grid{
    display: grid;
    grid-template-rows:auto auto 1fr auto auto;
}

.caption {
    font-family: helvetica, sans-serif;
    font-size: 16px;
    margin-top: 12px;
}

.gridHeader {
    background-color: #dcd6fe;
    text-align: center;
    font-size: 50px;
    padding: 10px;
}

.gridNav {
    background-color: #c6c0ff;
    grid-row: 2;
    text-align: center;
    font-size: 50px;
    padding: 10px;

}

.gridMain {
    background-color: #f9f6d2;
    text-align: center;
    padding: 10px;
}

.gridAside {
    background-color: #d4ffd1;
    font-size: 50px;
    text-align: center;
    padding: 10px;
}

.gridFooter {
    background-color: #ffd1d1;
    font-size: 50px;
    text-align: center;
    padding: 10px;
}


@media screen and (min-width: 786px) {
    .grid{
        grid-template-columns: auto 1fr auto; /* nav links, main groot, aside rechts */
        grid-template-rows: auto 1fr auto;      /* header, content, footer */
        min-height: 800px;
    }

    .gridHeader{
        grid-column: span 3; /* over 3 kolommen */
        grid-row: 1;
    }

    .gridNav{
        grid-column: 1;
        grid-row: 2;
        margin-left: 30px;
    }

    .gridMain{
        grid-column: 2;
        grid-row: 2;
    }

    .gridAside{
        grid-column: 3;
        grid-row: 2;
        margin-right: 30px;
    }

    .gridFooter{
        grid-column: span 3;



        grid-row: 3;
    }
}
