main {
    margin: 10px;
    font-size: 1.25em;
}

article {
    margin: 10px;
    overflow: auto;
    border: 1px solid black;
}

article img {
    width: 200px;
    height: auto;
}

article img {
    float: left;
    margin: 10px;
}

article + article img {
    float: right;
    margin: 10px;
}

article + article + article img {
    float: left;
    margin: 10px;
}

article + article + article + article img {
    float: right;
    margin: 10px;
}

article h2{
    margin: 10px;
}

article p{
    margin: 10px;
}
