body {
    margin: 0;
    padding: 0;
    width: 100%
}

div {
    box-sizing: border-box;
}
.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#a {
    border: solid black;
    border-width: 0 8px 15px 0;
    min-height: 165px;
    background: rgb(255,255,255);
}

#b {
    border: solid black;
    border-width: 15px 8px 8px 0;
    min-height: 190px;
    background: rgb(255,255,255);
}

#c {
    grid-row: span 2;
    display: block;
    border: solid black;
    border-width: 0 0 8px 8px;
    min-height: 355px;
    background: rgb(220,40,26);
}

#d {
    border: solid black;
    border-width: 8px 8px 0 0;
    min-height: 150px;
    background: rgb(0,93,159);
}

#e {
    border: solid black;
    border-width: 8px 8px 0 8px;
    min-height: 150px;
    background: rgb(255, 255, 255);
}
#f {
    border: solid black;
    border-width: 8px 0 13px 8px;
    min-height: 75px;
    background: rgb(255, 255, 255);
}

#g {
    border: solid black;
    border-width: 13px 0 0 8px;
    min-height: 75px;
    background-color: rgb(242, 224, 122);
}


