/** Volgende CSS gaan we ze geven **/
.respimg {
    width: 100%;
    height: auto;
    display: block;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: helvetica, sans-serif;
}
h1{
    text-transform: uppercase;
    font-size: 2.5em;
    border-bottom: 2px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}
h2{
    font-size: 1.5em;
    margin-bottom: 1em;
}
h2 a {
    color: black;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}
#logo img{
    height: 50px;
    border-bottom: 1px grey;
    width: auto;
}
nav{
   width: 100%;
}
nav ul{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 10px;
    list-style: none;
}
nav li {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #ebe8e8;
    border-bottom: 2px solid transparent;
}
nav li:hover{
    border-bottom: 2px solid yellow;
}
nav a {
    text-transform: uppercase;
    font-size: 13px;
    color: #5b4746;
    text-decoration: none;
}
.mainheader{
    border-top: 1px grey solid;
    display: flex;
    justify-content:center;
    align-items: center;
    background: url("../images/headerimage.jpg") center / cover no-repeat;
    width: 100%;
    height: 500px;
    color: white;
    font-size: 40px;
    text-shadow: #8D99AE 2px 2px;
}
@media (min-width: 800px) {
    .mainheader {
        font-size: 5em;
    }
}
section{
    margin: 50px auto ;
}
.grid-container{
    display: grid;
    gap: 30px;
}
.recipe-item {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    border-top: 1px solid #ddd;
    padding-top: 15px;
}
.small-title{
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 1px;
    color: #ff4d56;
}
.item-Body{
    color: #666;
    line-height: 2;
}
.item-Auteur{
    padding-right: 10px;
    border-right: 1px #ebe8e8 solid;
    font-style: italic;
}
.item-timestamp{
    color: #666;
    padding-left: 10px;
}
.meta {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.recommended{
    margin-top: 50px ;
}
.recommended img {
    padding-bottom: 25px;
}
footer {
    border-top: 1px solid #ebe8e8;
    overflow: hidden;
}

#left,
#right {
    width: 50%;
    float: left;
    padding: 20px 10px;
    line-height: 2em;
}

#left {
    text-align: right;
    border-right: 1px solid #ebe8e8;
}

#right {
    text-align: left;
    background-color: black;
    color: white;
}
header, section {
    width: 600px;
}
@media (min-width: 770px) {
    header,
    section {
        width: 750px;
    }

    .recipe-item {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    header,
    section {
        width: 980px;
    }
}