body{
    font-family: Arial,Helvetica, sans-serif;
}
.page-width{
    text-align: center;
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 75% 25%;
}
h1,    h2{
    text-align: center;
    color: darkblue;
}
h1{
    font-size: 3em;
}
h2{
    font-size: 2.4em;
}
header {
    background-image: url(../images/bgsky3.jpg);
    background-size: cover;
    grid-column: span 2;
    height: 200px;
}
header > img{
    right: 25%;
    bottom: 100px;
    float : right;
    position: relative;
}
figure {
    float: left;
    padding-top: 20px;
}
p>span {
    color: darkblue;
    font-weight: bold;
}
aside{
    border: 1px solid #999999;
    background-color: #dddddd;
    grid-column: 2;
    box-sizing: border-box;
}
aside > p{
    color: #666666;
    font-size: 90%;
    padding: 0 10px;

}
h3{
    color: white;
    background-color: blue;
    text-align: center;
    font-size: 1.2em;
}
.content{
    grid-column: 1;
    margin-bottom: 10px;
}
.introduction{
    background-color: white;
    color: black;
    text-align: justify;
    padding: 20px;
}
.gallery {
    background-color: #999999;
    line-height: 0;
}
.foto {
    display: inline-block;
    border: 1px dotted white;
    margin: 20px;
}

.foto>img {
    height: 180px;
    width: 180px;
    border: 10px solid white;
    box-sizing: border-box;
}
.bottom {
    width: 100%;
    background-color: #666666;
    color: white;
    line-height: 2em;
}

.bottom>div {
    width: 200px;
    margin-left: 120px;
    display: inline-block;
}
.bottom a{
    color: inherit;
}
.bottom a:hover{
    color: red;
}
footer{
    text-align: center;
    background-color: white;
    color: black;
}
footer,
.bottom {
    grid-column: span 2;
}