section > header > h2 {
    margin: 10px 0 0 5px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
section {
    width: 95%;
    margin: 0 auto;
}
article {
    background-color: #eeeeee;
    padding: 0 5px 5px 5px;
}
article > header > h2 {
    color: #444444;
    font-size: 1.5em;
    text-decoration: underline;
    padding-top: 20px;
}
nav > a {
    color: #56f582;
    text-decoration: none;
    font-weight: bold;
    margin: 5px;
}
nav {
    padding-top: 10px;
    background-color: #444444;
}