h1, h2, h3 {
    font-family: Arial;
}
h1 { font-size: 1.8em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.4em; }

p {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2em;
}

/* Kleur-classes voor elke paragraaf */
p.rood  { color: red; }
p.groen { color: green; }
p.blauw { color: blue; }
